@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-primaria-1: #65000B;
    --cor-primaria-2: #800000;
    --cor-primaria-3: #A52A2A;
    --cor-primaria-4: #A50021;
    --cor-primaria-5: #CE2029;

    --cor-secundaria-1: #fff;
    --cor-secundaria-2: #1d1d1d;

    --fonte: 'Playfair', sans-serif;

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background-color: var(--cor-primaria-1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: var(--cor-secundaria-1);
    padding: clamp (2rem, 5vw, 3rem);
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.titulo {
    font-size: clamp (1.5rem, 2vw + 1rem, 2rem);
    color: var(--cor-secundaria-1);
    margin-bottom: 1.5rem;
    font-weight: 500;

    
}
